<table class = "table  table-hover">
<%= form_for @product do |form| %>
  <tr>
    <td>
  <div class="field form-group">
    <%= form.text_field :product_name, class: "form-control", placeholder: "Product Name", required: "true" %>
  </div>
    </td>
    <td>
  <div class="field form-group">
    <%= form.text_field :product_price, class: "form-control", placeholder: "Product Price", required: "true" %>
  </div>
    </td>
  </tr>
    <div class="actions">
    <%= form.submit class: "btn btn-secondary"%>
    </div><br/>
  <% end %>
</table>
